hr {
    margin: 30px 20px;
    border-color: $text;
}

b {
    font-weight: 800;
}

.italic {
    font-style: italic;
}

.center {
    text-align: center;
    margin: auto;
}

.section-padding {
    padding: 20px;
}

.item-padding {
    padding: 20px;
}



