$white: #ececec;
$black: #222222;
$lightBlack: #555555;

$mainBg: #8e4423;
$contBg: #242729;
$contBgLight : #2c2e2f;
$footerBg: #e6e3bb;
$invText: #e7e4bb;
$text: #4f504b;
$lightText: #7b7a6d;

$top: #c07854;
$bottom: #692d17;

$grad: linear-gradient(to top, #c07854, #692d17);